/*
 * WARNING: This is not a COMPLETE userChrome.css file.
 *			This file will not work without my custom nix theme variables.
 *			This file can _only_ be parsed via nix using builtins.readFile.
 *			The true userChrome.css is created and symlinked into my profile directory.
 *			
 * Use at your own risk....
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar .titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

#TabsToolbar > .titlebar-buttonbox-container {
    display: none !important;
}

/* The following is stolen from github:MrOtherGuy/firefox-csshacks - tabs_on_bottom.css */
#titlebar {
	order: 2;
	-moz-appearance: none !important;
	--tabs-navbar-shadow-size: 0px;
	--uc-menubar-vertical-overlap: 19px;
}

#navigator-toolbox > div { display: contents }

.global-notificationbox,
#tab-notification-deck {
	order: 2;
}

#TabsToolbar .titlebar-spacer{ display: none; }
/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after{ display: none !important; }

@media (-moz-gtk-csd-close-button){
  .titlebar-button{
    flex-direction: column;
  }
}

/* At Activated Menubar */
:root:not([chromehidden~="menubar"], [sizemode="fullscreen"]) #toolbar-menubar:not([autohide="true"]) + #TabsToolbar > .titlebar-buttonbox-container {
  display: block !important;
}
#toolbar-menubar:not([autohide="true"]) > .titlebar-buttonbox-container {
  visibility: hidden;
}

/* These exist only for compatibility with autohide-tabstoolbar.css */
toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar{ animation: none; }
#navigator-toolbox:hover #TabsToolbar{ animation: slidein ease-out 48ms 1 }
#TabsToolbar > .titlebar-buttonbox-container{ visibility: visible }
#navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog }

/*@-moz-document url("about:newtab"), url("about:home") {
	body { background: transparent !important;}
}*/

window, #toolbar-menubar, #TabsToolbar, #PersonalToolbar, #navigator-toolbox,#sidebar-box, .titlebar-spacer,
#nav-bar, .tab-background[selected="true"], {
	background-color: rgba(${blackAsDec}, 0.4) !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

/*window, #nav-bar{
	background-color: rgba(${blackAsDec}, 0.3) !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

.tab-background[selected="true"] {
	background: rgba(${blackAsDec, 0.3) !important;
	-moz-appearance: none !important;
	background-image: none !important;
}*/
